{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2-Factor Authentication</title>
    <link rel="stylesheet" href="{% static 'twofa/send_otp.css' %}">
</head>
<body>
    <section>
        <div class="background-circle circle-top"></div>
        <div class="background-circle circle-bottom"></div>
        <div class="auth-container">
            <h2>Link successfully send</h2>
            <p>We’ll send an email with link </p>
            <a href="#">Did't received mail?</a>
        </div>
    </section>
</body>
</html>